ul.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  white-space: nowrap;
}

ul.list-inline > li {
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 50%;
}
